body {
  margin: 0;
}
html {
  background-color: #f2f2f2;
  font-family: "Noto Sans JP", sans-serif;
}

#navbar-title {
  font-size: 1.2rem;
  color: #fff;
}

#theme {
  font-size: 0.85rem;
}

#user-controll-div {
  position: absolute;
  top: 52px;
  left: 0;
  width: 40%;
  height: calc(100vh - 52px);
  overflow-y: scroll;
  padding: 5px;
  padding-top: 10px;
}

#data-div {
  position: absolute;
  top: 52px;
  right: 0;
  width: 60%;
  height: calc(100vh - 52px);
  overflow-y: scroll;
  padding: 5px;
  padding-top: 10px;
}

.pane-name {
  font-size: 0.8rem;
  color: #d8d8d8;
  padding: 7px;
  font-weight: bold;
  background-color: #333;
  border-radius: 5px 5px 0px 0px;
}

.pane-header {
  font-size: 0.8rem;
  color: #d8d8d8;
  padding: 7px;
  font-weight: bold;
  background-color: #333;
  border-radius: 5px 5px 0px 0px;
  display: flex;
  justify-content: space-between;
}

.pane-header a {
  color: #d8d8d8;
  text-decoration: none;
}

#chartWrapper {
  /*border: 1px solid #999;*/
  border-radius: 10px;
  background-color: white;
}

#selectedCommentWrapper {
  position: relative;
  height: 300px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

#selectedComment {
  font-size: 0.95rem;
  font-weight: 400;
  color: #6b6b6b;
  line-height: 1.6;
  word-break: break-all;
  white-space: pre-wrap;
  padding: 0.5rem 10px;
  height: 268px;
  overflow-y: scroll;
  font-family: "Noto Sans JP", sans-serif;
}

#relatedCommentsWrapper {
  margin-top: 10px;
  position: relative;
  height: calc(100% - 320px);
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

#relatedComments {
  position: relative;
  height: calc(100% - 34px);
  width: 100%;
  overflow-y: scroll;
}

.comment {
  font-size: 0.92rem;
  font-weight: 300;
  line-height: 1.5;
  word-break: break-all;
  white-space: pre-wrap;
  margin: 0px 15px;
  padding: 0px 0px;
  overflow-y: scroll;
  font-family: "Noto Sans JP", sans-serif;
}

.comment:first-child {
  margin-top: 1rem;
}

.comment:last-child {
  margin-bottom: 1rem;
}

#data-div .hr {
  background-color: #9f9f9f;
  margin: 43px 20px;
}

#data-div textarea {
  position: relative;
  top: 3px;
  border-radius: 10px;
}
