<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&display=swap" rel="stylesheet">
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link href="static/css/index.css" rel="stylesheet" />
    <title>プロジェクト演習グループC サンプル</title>
  </head>
  <body>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item">
            <h2 id='navbar-title'>
                プロジェクト演習グループC サンプル
            </h2>
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                テーマ
              </a>
      
              <div class="navbar-dropdown">
                <a class="navbar-item" onclick='changePage(0)'>
                  ダミー
                </a>
                <a class="navbar-item" onclick='changePage(1)'>
                  寿司ペロ賠償請求
                </a>
                <a class="navbar-item" onclick='changePage(2)'>
                  部活動の地域移行
                </a>
              </div>
            </div>
            <div class="navbar-item">
              <p id='theme'> {{title}} </p>
            </div>
          </div>  
        </div>
      </nav>
    <div id='user-controll-div'>
        <div id='selectedCommentWrapper'>
            <p class='pane-name'> 選択したコメント </p>
            <p class='comment' id='selectedComment'></p>
        </div>
        <div id='relatedCommentsWrapper'>
            <p class='pane-name'> 似たような意見 </p>
            <div id='relatedComments'>
                <p id="neighbor1" class='comment'></p>
                <hr class='hr'>
                <p id="neighbor2" class='comment'></p>
                <hr class='hr'>
                <p id="neighbor3" class='comment'></p>
                <hr class='hr'>
                <p id="neighbor4" class='comment'></p>
                <hr class='hr'>
                <p id="neighbor5" class='comment'></p>
            </div>
        </div>
    </div>
    <div id='data-div'>
        <div id='chartWrapper'>
            <div class='pane-header'> コメントマップ <a onclick='resetZoom()'>ズームをリセット</a></div>
            <canvas id="myChart"></canvas>
        </div>
        <hr class='hr'>
        <button class='button is-dark' onclick='submitComment()' id='submit-button'>意見を送信</button>
        <textarea class="textarea has-fixed-size" placeholder="あなたの意見を入力してください" id='your-comment'></textarea>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
    <script src="static/js/chartjs-plugin-zoom.min.js"></script>
    <script src="static/js/bulma-toast.min.js"></script>
    <script>
        const sentences = JSON.parse('{{sentences_ja | tojson}}') // Flaskから送られてきた変数をグローバルに展開
        const likesBadsMapped = JSON.parse('{{ likes_bads_mapped | tojson }}') // Flaskから送られてきた変数をグローバルに展開
        let pointSizes = []
        let hoverPointSizes = []
        for (let i = 0; i < likesBadsMapped.length; i++) {
            pointSizes.push(likesBadsMapped[i] * 6 + 4)
            hoverPointSizes.push(likesBadsMapped[i] * 9 + 4)
        }
        const colors = JSON.parse('{{ colors | tojson }}') // Flaskから送られてきた変数をグローバルに展開
        const embeddedData = JSON.parse('{{ embedded_data | tojson }}') // Flaskから送られてきた変数をグローバルに展開
        let max_x = 0, max_y = 0, min_x = 0, min_y = 0;
        for (let i = 0; i < embeddedData.length; i++) {
            const x = embeddedData[i]["x"]
            const y = embeddedData[i]["y"]
            if (x > max_x) max_x = x
            if (x < min_x) min_x = x
            if (y > max_y) max_y = y
            if (y < min_y) min_y = y
        }
        const dataIndex = JSON.parse('{{ data_index | tojson }}') // Flaskから送られてきた変数をグローバルに展開
    </script>
    <script src="static/js/index.js"></script>
  </body>
</html>
